:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Removed the empty ruleset */
.container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding:  2rem;
}

h1{
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.container > form {
  width: 50%;
  display: flex;
  margin: 2rem auto;
  gap: 5px;
}

.container > form > input{
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid rgba(149,149,149, 0.695);
  outline: none;
  border-radius: 5px 0 0 5px ;
}

.container > form > button{
  width: 20%;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(35, 129, 184);
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.todoContainer{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1rem;
  /* justify-content: center; */
}

.todo {
  
}
